.big{
    font-size: 24px;
}
.under{
    text-decoration: underline;
}

.rt{
    color: red;
}

.rb{
    color: blue;
}

.boldt{
    font-weight: bold;
    font-style: italic;
}

.btn{
    border: 1px solid rebeccapurple;
    padding: 10px;
    margin: 8px;
    background-color: gray;
}